service: serverless-boilerplate-ts
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${env:ENV, 'dev'}

  apiGateway:
    restApiId: ${env:API_GATEWAY_ID, ''}
    restApiRootResourceId: ${env:ROOT_RESOURCE_ID, ''}

  environment:
    NODE_ENV: ${env:NODE_ENV, 'development'}
    TEST_AXIOS_ENDPOINT: 'https://jsonplaceholder.typicode.com'
    DYNAMODB_ENDPOINT: 'http://localhost:8000'
    DYNAMODB_TABLE_NAME: 'MyTable'

package:
  exclude:
    - node_modules
  patterns:
    - '!package-lock.json'
    - '!yarn.lock'

functions:
  - ${file(src/handlers/test/function.yml)}

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

resources:
  Resources:
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,OPTIONS,POST,PUT,DELETE'"
        ResponseType: DEFAULT_4XX
        RestApiId: ${env:API_GATEWAY_ID, ''}
