service: serverless-boilerplate-ts
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${env:ENV, 'dev'}

  httpApi:
    id: ${env:API_GATEWAY_ID, ''}

  environment:
    AWS_REGION: ${env:AWS_REGION, 'us-east-1'}
    NODE_ENV: ${env:NODE_ENV, 'development'}
    TEST_AXIOS_ENDPOINT: 'https://jsonplaceholder.typicode.com'
    DYNAMODB_ENDPOINT: 'http://localhost:8000'
    DYNAMODB_TABLE_NAME: 'MyTable'

package:
  exclude:
    - node_modules
  patterns:
    - '!package-lock.json'
    - '!yarn.lock'

functions:
  - ${file(src/handlers/test/function.yml)}

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
